<!-- "Bookers2" Index Book -->
<div class="container mt-3 px-5 px-sm-0">
  
    <!--エラーメッセージ-->
    <% if @book_new.errors.any? %>
    <h3><%= @book_new.errors.count %> error prohibited this obj from being saved:</h3>
    <ul>
      <% @book_new.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>
    

  <div class="row">

    <!-- ユーザーのテンプレート化 -->
    <%= render 'list', book: @books, user: @user, book_new: @book_new %>
    

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>      <!-- プロフィール画像用 -->
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <!-- 投稿された本の一覧を表示 -->
          <% @books.each do |book| %>
            <tr> 
              <td>
                <%= link_to user_path(book.user.id) do %>
                  <%= image_tag book.user.get_profile_image(80, 80) %>
                <% end %>
              </td>
              <td>
                <%= link_to book.title, book_path(book) %>
              </td>
              <td>
                <%= book.body %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
